:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el contenido se distribuya bien */
  height: 100%;
  padding: 2rem;
  background: #ffffff;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permite que el formulario crezca y se ajuste */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    }
  }

  textarea {
    resize: none;
    height: 100px;
  }
}

.submit-btn {
  width: 100%;
  background: #007bff;
  color: white;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: auto; /* Empuja el botón hacia abajo */

  &:hover {
    background: #0056b3;
  }
}
