@import '../../../../scss/var';
@import '../../../../scss/responsive';
@import '../../../../scss/buttons';


:host ::ng-deep .mat-dialog-container {
  max-height: 90vh; /* Limita la altura máxima del diálogo al 90% de la ventana */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede el tamaño */
}

mat-dialog-content {
    max-height: 400px;
    overflow: auto;
  }

  .action-button {
    background-color: $secondary-background-color;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }

