.bg-custom1 {
    background: linear-gradient(180deg, #4A768D 0%, #072D50 100%);
    color: white; /* Para que el texto sea visible sobre el fondo oscuro */
    padding: 50px; /* Ajuste de padding */
    text-align: center; /* Alineación del texto */
  }

  .bg-custom2 {
    background-color:#bdccdb;
    color:black;
    padding: 50px;
    text-align: center;
  }

  .text-justify {
    text-align: justify;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; /* Permitir que los logos pasen a la siguiente línea si es necesario */
  }
  
  .logos img {
    max-width: 45%;  /* Asegurar que los logos ocupen hasta el 45% del ancho del contenedor */
    height: auto;    /* Mantener las proporciones de los logos */
  }
  
  mat-checkbox {
    display: block;
    margin-bottom: 10px;
  }
  
  mat-checkbox a {
    text-decoration: none;
    font-weight: bold;
    color: #00a89c; /* Color azul para los enlaces */
  }

  @media (max-width: 768px) {
    .logos img {
      max-width: 80%;  /* Reducir el tamaño en pantallas más pequeñas */
    }
  }
