/* Fondo del contenedor de la cabecera de inicio de sesión */
.bg-custom1 {
  background: linear-gradient(180deg, #4A768D 0%, #072D50 100%);
  color: white;
  padding: 50px;
  text-align: center;
}

/* Fondo del contenedor del formulario */
.bg-custom2 {
  background-color: #bdccdb;
  color: black;
  padding: 50px;
  text-align: center;
}

/* Justificación del texto en los términos y política de privacidad */
.text-justify {
  text-align: justify;
}

/* Contenedor de logos de las empresas colaboradoras */
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Ajuste de tamaño máximo de los logos */
.logos img {
  max-width: 45%;
  height: auto;
}

/* Estilo para el checkbox de términos y políticas */
mat-checkbox {
  display: block;
  margin-bottom: 10px;
}

/* Enlaces dentro de los checkboxes */
mat-checkbox a {
  text-decoration: none;
  font-weight: bold;
  color: #00a89c;
}

/* Ajustes de responsividad para pantallas medianas */
@media (max-width: 768px) {
  .logos img {
    max-width: 80%;
  }
}
