<div class="card-container">
  <div class="card" *ngFor="let company of companies">
    <div class="card-content">
      <!-- Imagen -->
      <div class="card-image">
        <img
          class="card-image-container"
          src="{{ company.image }}"
          [alt]="company.name"
        />
        <div class="card-logo-container">Logo</div>
      </div>

      <!-- Información de la empresa -->
      <div class="card-text">
        <h3>{{ company.name }}</h3>
        <p>{{ company.description }}</p>
      </div>
    </div>
  </div>
</div>
