<mat-dialog-content>
    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
      <!-- Campo Nombre -->
      <mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" placeholder="Nombre del usuario">
        <mat-error *ngIf="createUserForm.get('nombre')?.invalid && createUserForm.get('nombre')?.touched">
          El nombre es obligatorio.
        </mat-error>
      </mat-form-field>
  
      <!-- Campo Selección de Rol -->
      <mat-form-field class="full-width">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rol" panelClass="custom-select-panel" placeholder="Seleccionar Rol">
          <mat-option value="admin">Administrador</mat-option>
          <mat-option value="empresa">Empresa</mat-option>
          <mat-option value="alumno">Alumno</mat-option>
        </mat-select>
        <mat-error *ngIf="createUserForm.get('rol')?.invalid && createUserForm.get('rol')?.touched">
          El rol es obligatorio.
        </mat-error>
      </mat-form-field>
  
      <!-- Campo Email -->
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Correo electrónico" type="email">
        <mat-error *ngIf="createUserForm.get('email')?.invalid && createUserForm.get('email')?.touched">
          El email es obligatorio y debe ser válido.
        </mat-error>
      </mat-form-field>
  
      <!-- Campo Contraseña -->
      <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="contraseña" placeholder="Contraseña" type="password">
        <mat-error *ngIf="createUserForm.get('contraseña')?.invalid && createUserForm.get('contraseña')?.touched">
          La contraseña es obligatoria.
        </mat-error>
      </mat-form-field>
  
      <!-- Botones de acción -->
      <mat-dialog-actions class="action-buttons">
        <button mat-button type="button" (click)="onClose()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="createUserForm.invalid">Crear Usuario</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
  