.role-section {
  border-color: #002E4C;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 2px;
  min-height: 100vh;
  margin-bottom: 0;
  overflow: hidden; /* Asegura que el contenido respete las esquinas redondeadas */
}

/* Gradiente para el encabezado */
.header-gradient {
  background-color: #002E4C;
  color: white;
  padding: 15px;
  margin-bottom: 0;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Fondo blanco para las tarjetas */
.user-card {
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 0;
}

/* Efecto hover en las tarjetas */
.user-card:hover {
  transform: translateY(-5px);
  /* Elevar la tarjeta al pasar el mouse */
}

/* Botones espaciados dentro de la tarjeta */
.mat-stroked-button {
  margin-left: 10px;
}

/* Separar el encabezado de la barra de navegación */
.container-fluid {
  margin-top: 20px;
  /* Ajusta este valor según el diseño de tu barra de navegación */
}

/* Espaciado entre tarjetas */
.row {
  gap: 0px;
  /* Espacio entre tarjetas de usuario */

}

/* Para ajustar la apariencia de los botones en Angular Material */
.mat-button,
.mat-stroked-button {
  text-transform: none;
  /* Desactivar el texto en mayúsculas de los botones */
}