<div class="formulario">
  <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    
    <!-- Campo Nombre -->
    <div class="form-group pt-3 mx-3">
      <label>Nombre de la empresa</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control">
      <small *ngIf="formulario.get('nombre')?.invalid || formulario.get('nombre')?.touched">
        El nombre es obligatorio y debe tener al menos 3 caracteres.
      </small>
    </div>

    <!-- Campo Descripción -->
    <div class="form-group mt-3 mx-3">
      <label>Descripción de la empresa</label>
      <small>Por favor introduzca una descripción de su entidad</small>
      <ckeditor *ngIf="editorCargado" [editor]="EditorDescripcion" formControlName="descripcion"></ckeditor>
      <small *ngIf="formulario.get('descripcion')?.invalid || formulario.get('descripcion')?.touched">
        La descripción es obligatoria.
      </small>
    </div>


    <!-- Campo Más información -->
    <div class="form-group mt-3 mx-3">
      <label>Más información</label>
      <small>Aquí puede añadir información sobre los perfiles buscados, principales clientes...</small>
      <ckeditor *ngIf="editorCargado" [editor]="EditorMasInformacion" formControlName="masInformacion"></ckeditor>
    </div>

  <!-- Campo Título botón adicional -->
  <div class="form-group mt-3 mx-3">
    <label>Título botón adicional</label>
    <input type="text" id="titulo-boton-adicional" formControlName="tituloBotonAdicional" class="form-control">
  </div>

  <!-- Campo Link botón adicional -->
  <div class="form-group mt-3 mx-3">
    <label>Link botón adicional</label>
    <input type="text" id="link-boton-adicional" formControlName="linkBotonAdicional" class="form-control">
  </div>

  <!-- Botón enviar -->
  <div class="form-group mt-3 pb-3 text-end mx-3">
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="formulario.invalid">Enviar</button>
  </div>
</form>
</div>