:host {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Estilo general */
.hero-section {
  background: linear-gradient(180deg, #072D50 0%, #4A768D 100%);
  color: white;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 20px 0; /* Añadimos padding para evitar que el texto esté pegado al borde */
}

.text-content {
  max-width: 100%; /* Usamos el 100% del ancho en pantallas pequeñas */
  padding: 15px;
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.features-list {
  padding-left: 20px; /* Reducimos el padding para pantallas pequeñas */
}

.features-list li {
  margin-bottom: 10px;
}

.image-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 0;
  object-fit: contain;
}

.design-form {
  background-color: #bdccdb;
  color: rgb(8, 8, 8);
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

.img-form img{
  width: 555px;
  height: 445px;
}
/* Ajustes responsivos */
@media (min-width: 600px) {
  .hero-section {
    padding: 30px;
  }

  .text-content {
    max-width: 80%; /* Se ajusta el contenido a un máximo del 80% */
  }

  .image-content img {
    height: 300px; /* Ajustamos la altura en pantallas medianas */
  }
}

@media (min-width: 768px) {
  .text-content {
    max-width: 600px; /* Máximo ancho en pantallas grandes */
  }

  .image-content img {
    height: 400px; /* Ajustamos la altura en pantallas grandes */
  }

}
