:host {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* === Hero Section === */
.hero-section {
  background: linear-gradient(180deg, #072D50 0%, #4A768D 100%);
  color: white;
  text-align: left;
  width: 100%;
  padding: 20px 0;
}

.text-content {
  max-width: 100%;
  padding: 15px;
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.features-list {
  padding-left: 20px;
}

.features-list li {
  margin-bottom: 10px;
}

.image-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* === Diseño del formulario === */
.desing-form {
  background-color: #bdccdb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img-form img {
  width: 555px;
  height: 445px;
  border-radius: 5%;
}

/* === Media Queries === */
@media (max-width: 600px) {
  .img-form {
    display: none;
  }
  .hero-section {
    padding: 30px;
  }
  .text-content {
    max-width: 80%;
  }
  .image-content img {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .text-content {
    max-width: 600px;
  }
  .image-content img {
    height: 400px;
  }
}
