// Importa archivos parciales con variables y mixins
@import '../../../../scss/var';
@import '../../../../scss/responsive';
@import '../../../../scss/buttons';
@import '../../../../scss/forms';

/* === Contenedor Principal === */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 10px;
  width: 100%;
  background-color: $background-color;
}

/* Contenedor principal para las tarjetas */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* Centra las tarjetas */
}

/* Estilos responsivos para las tarjetas */
.col-md-6 {
  flex: 1 1 100%;
  /* Por defecto, ocupan 100% en pantallas pequeñas */
  max-width: 100%;
  /* Previene desbordamientos */

  @media (min-width: 992px) {
    /* Pantallas grandes */
    flex: 0 0 48%;
    /* Ocupan aproximadamente la mitad del ancho */
    max-width: 48%;
    /* Máximo ancho ajustado */
  }
}

.mat-card {
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: $secondary-background-color;

  @media (min-width: 992px) {
    margin: 0;
    /* Elimina márgenes innecesarios en pantallas grandes */
  }
}

/* === Contenedor de Carruseles y Vista Previa === */
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin-top: 20px;
  padding: 10px;
  background-color: $secondary-background-color;
  border-radius: $border-radius;
  @include box-shadow;

  @include responsive(small) {
    flex-direction: column;
    width: 100%;
    padding: 5px;
  }

  @media (max-width: 768px) and (min-width: 600px) {
    flex-direction: column;
    width: 95%;
    gap: 15px;
    padding: 10px;
  }
}

canvas {
  border: 1px solid #000;
  width: 100%;
  /* Canvas ocupará la mitad del contenedor */
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: $border-radius;
}

/* === Carrusel === */
.carousel-container {
  display: flex;
  align-items: center;
  gap: 10px;

  @include responsive(small) {
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) and (min-width: 600px) {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}

.images-container {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 500px;

  &::-webkit-scrollbar {
    display: none;
  }



  /* === Imágenes de Carrusel === */
  img {
    width: calc(50% - 20px);
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    object-fit: contain;
    @include transition(transform 0.3s, border-color 0.3s);

    &:hover {
      transform: scale(1.05);
    }

    &.selected {
      border-color: $primary-color;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: scale(1.1);
    }
  }
}

/* === Vista Previa Combinada === */
.preview-combined-container,
.combined-image-container {
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 20px;

  @include responsive(small) {
    width: 90%;
  }
}

.stand-image,
.receptionist-image,
.logo-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.receptionist-image {
  position: absolute;
  width: 30%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0.9;

}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    width: 80%;
    margin-bottom: 1rem;
  }
}

/* Botón de navegación */
.nav-button {
  @extend .button--primary;
  font-size: 18px;
  border-radius: 5px;
  border-color: $highlight-color;

  &:hover {
    background-color: darken($highlight-color, 10%);
  }

  @include responsive(small) {
    font-size: 14px;
    padding: 8px;
  }

  @media (max-width: 768px) and (min-width: 600px) {
    font-size: 16px;
    padding: 8px 12px;
  }
}

// Media queries para pantallas pequeñas (móviles)
@media (max-width: 576px) {
  .button {
    .text-button {
      display: none;
    }
  }

  .content-container {
    padding: 1rem;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-md-6 {
    width: 100%;
  }

.images-container {

    img {
      flex-shrink: 0;
      width: calc(50% - 10px);
    }
  }

  .nav-button {
    display: none; // Oculta botones en móviles
  }


}

.preview-combined-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  gap: 10px;

  .stand-image,
  .receptionist-image,
  .logo-image {
    max-width: 100%;
    height: auto;
  }
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    width: 80%;
    margin-bottom: 1rem;
  }


}


// Media queries para pantallas medianas (tablets)
@media (min-width: 576px) and (max-width: 992px) {
  .col-md-6 {
    width: 100%;
  }

  .carousel-container {
    .images-container img {
      width: 100%; // Ajuste de imagen en tablets
    }
  }

  .preview-combined-container {
    width: 100%;

    .stand-image,
    .receptionist-image {
      max-width: 100%;
      height: auto;
    }
  }

  .button-container {
    button {
      width: 60%;
    }
  }
}

// Media queries para pantallas grandes (desktop)
@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }

  .carousel-container {
    .images-container img {
      width: auto; // Mantener el tamaño de imagen original en pantallas grandes
    }
  }

  .button-container {
    display: flex;
    justify-content: space-around;

    button {
      width: auto;
      margin: 0;
    }
  }
}