<div class="main-container">

  <!-- Contenedor para los carruseles y la vista previa -->
  <div class="content-container pt-3 px-3">

    <div class="row">
      <!-- Incluye el componente BannerComponent dentro de StandDesingComponent -->
      <app-banner-root [canUploadFiles]="canUploadFiles()"></app-banner-root>
      <!-- Carrusel del stand -->
      <div class="col-md-6">
        <h4 class="text-start">Selecciona el Stand</h4>
        <div class="carousel-container">
          <button class="nav-button left" (click)="scroll('stand', 'left')">&lt;</button>
          <div class="images-container stand-carousel">
            <img *ngFor="let Stand of standImages()" [src]="Stand" alt="Stand"
              [class.selected]="isSelected(Stand, selectedStand())" (click)="selectImage(Stand, 'stand')"
              [attr.aria-selected]="isSelected(Stand, selectedStand())" />
          </div>
          <button class="nav-button right" (click)="scroll('stand', 'right')">&gt;</button>
        </div>

        <!-- Carrusel del recepcionista -->
        <h4 class="text-start pt-3">Selecciona al Recepcionista</h4>
        <div class="carousel-container">
          <button class="nav-button left" (click)="scroll('receptionist', 'left')">&lt;</button>
          <div class="images-container receptionist-carousel">
            <img *ngFor="let receptionist of receptionistImages()" [src]="receptionist" alt="Recepcionista"
              [class.selected]="isSelected(receptionist, selectedReceptionist())"
              (click)="selectImage(receptionist, 'receptionist')"
              [attr.aria-selected]="isSelected(receptionist, selectedReceptionist())" />
          </div>
          <button class="nav-button right" (click)="scroll('receptionist', 'right')">&gt;</button>
        </div>
      </div>

      <!-- Vista previa a la derecha -->
      <div class="col-md-6">
        <div class="preview-combined-container">
          <h4>Vista Previa:</h4>
          <div class="combined-image-container">
            <img [src]="selectedStand() || '../assets/stand1.png'" alt="Vista previa del Stand seleccionado"
              class="stand-image">
            <img [src]="selectedReceptionist() || '../assets/recepcionist1.png'"
              alt="Vista previa del Recepcionista seleccionado" class="receptionist-image">
            <!-- Mostrar el logo solo si está subido -->
            <img *ngIf="imagenCargada" [src]="imageSrc" alt="Logo de la empresa en la vista previa" class="logo-image">
          </div>
        </div>
      </div>

      <!-- Botones abajo en el centro -->
      <div class="button-container">
        <button class="button-primary-custom" (click)="submitSelection()"><i
            class="fa-solid fa-share"></i> Enviar Seleccion</button>
        <button class="button-secundary-custom" (click)="clearSelection()"><i
            class="fa-solid fa-eraser"></i> Borrar seleccion</button>
      </div>
    </div>
  </div>
</div>