@import '../../../../scss/responsive';
@import '../../../../scss/var';
@import '../../../../scss/buttons';


// Contenedor principal del formulario de oferta
mat-card {
  padding: 20px;
  margin: auto;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-color: $white;
}

mat-grid-list{
  margin: 0;
}
mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: $text-color;
  margin-bottom: 20px;
}

// Configuración de ancho completo para los campos del formulario
mat-form-field {
  width: 100%;
  margin-bottom: 16px;

  .mat-form-field-flex {
    background-color: $secondary-background-color;
  }

  .mat-label {
    color: $muted-color;
    font-weight: 500;
  }
}

.mat-select-arrow {
  color: $muted-color;
}

// Grupo de botones en el formulario
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button {
    &.button--primary {
      @extend .button--primary;
    }

    &.button--secondary {
      @extend .button--secondary;
    }

    &:disabled {
      background-color: $disabled-color;
      color: $white;
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
}

.button-group {
  flex-direction: column;
  gap: 10px;

  button {
    width: 100%;
  }
}

.dialog-scrollable-content {
  max-height: 60vh;
}

// Estilo responsivo para pantallas pequeñas
@media (max-width: 600px) {
  mat-card {
    max-width: 100%;
    padding: 15px;
    margin: auto;
    border-radius: $border-radius;
  }

  mat-card-title {
    font-size: 1.2em;
  }

  mat-form-field {
    margin-bottom: 12px;
  }


}
