/* Contenedor principal del formulario de oferta */
mat-card {
  max-width: 500px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #ffffff;
}

mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Configuración de ancho completo para los campos del formulario */
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

/* Estilo de fondo para los campos de entrada */
mat-form-field .mat-form-field-flex {
  background-color: #f5f5f5;
}

/* Color y estilo de las etiquetas de los campos */
mat-form-field .mat-label {
  color: #555;
  font-weight: 500;
}

/* Color de la flecha en los selectores de opciones */
.mat-select-arrow {
  color: #555;
}

/* Grupo de botones en el formulario */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Estilo para el botón de "Añadir Oferta" */
button[color="primary"] {
  background-color: rgb(17, 226, 17);
  color: white;
}

button[color="primary"]:hover {
  background-color: #218838;
}

/* Estilo para el botón "Añadir Oferta" deshabilitado */
button[color="primary"]:disabled {
  background-color: #a5d6a7;
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.7;
}

/* Estilo para el botón de "Cancelar" */
button[color="warn"] {
  color: #dc3545;
}

button[color="warn"]:hover {
  background-color: rgba(220, 53, 69, 0.1);
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 600px) {
  mat-card {
    max-width: 100%;
    padding: 15px;
    margin: auto;
    border-radius: 8px;
  }

  mat-card-title {
    font-size: 1.2em;
  }

  mat-form-field {
    margin-bottom: 12px;
  }

  .button-group {
    flex-direction: column;
    gap: 10px;
  }

  button[color="primary"],
  button[color="warn"] {
    width: 100%;
  }

  /* Ajuste de la altura máxima en dispositivos móviles */
  .dialog-scrollable-content {
    max-height: 60vh;
  }
}
