@import '../../../scss/responsive';
@import '../../../scss/var';
@import '../../../scss/buttons';

// Fondo del contenedor de la cabecera de inicio de sesión
.bg-custom1 {
    background: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
    color: $white;
    padding: 50px;
    text-align: center;
}

// Fondo del contenedor del formulario
.bg-custom2 {
    background-color: rgba(240, 248, 255, 0.842);
    color: $text-color;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Ajustar el contenido al inicio
    align-items: stretch; // Asegurarse de que el contenido ocupe todo el ancho disponible
    height: auto; // Permitir que el contenedor crezca según el contenido
    overflow:auto; // Evitar el scroll
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
      }
}

mat-tab {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // Ajustar el contenido al inicio
    align-items: stretch; // Asegurarse de que el contenido ocupe todo el ancho disponible
    height: auto; // Permitir que el contenedor crezca según el contenido
    overflow:auto; // Evitar el scroll
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
      }
}


.button--primary {
    @extend .button--primary;
    background-color: $highlight-color !important;
    color: $white !important;
}

// Justificación del texto en los términos y política de privacidad
.text-justify {
    text-align: justify;
}

// Contenedor de logos de las empresas colaboradoras
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    img {
        max-width: 45%;
        height: auto;
    }
}

// Estilo para el checkbox de términos y políticas
mat-checkbox {
    display: block;
    margin-bottom: 10px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: $highlight-color;
    }
}

/**
 * Oculta el input de archivo (file input) para personalizar el botón de carga.
 */
.file-input {
    display: none;
}

/**
 * Contenedor para los botones de acción.
 */
.action-button {
    display: flex;
    gap: 8px;
    margin-left: auto;
    align-items: center;

    .mx-2 {
        @extend .button--primary;
        padding: 5px 10px;
        border-radius: $button-border-radius;
        font-size: $font-size-small;

        &:active {
            background-color: darken($highlight-color, 15%);
        }
    }
}

/**
 * Contenedor para la información del archivo
 */
.file-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .file-name {
        margin-left: 8px;
        font-weight: bold;
    }
}

// Ajustes de responsividad para pantallas medianas
@media (max-width: 768px) {
    .logos img {
        max-width: 80%;
    }
}