@import '../../../../scss/responsive';
@import '../../../../scss/var';
@import '../../../../scss/buttons';

/* Inputs de ancho completo */
.full-width {
  width: 100%;
}

/* Estilos de los campos de formulario */
.mat-form-field {
  margin-bottom: 16px;
}

/* Contenedor de los botones de acción */
.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Estilos del contenedor del diálogo */
mat-dialog-content{
  padding: 20px;
  overflow: visible !important;
  height: 70vh;
}

/**
 * Contenedor para la información del archivo
 */
 .file-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .file-name {
      margin-left: 8px;
      font-weight: bold;
  }
}

// Ajustes de responsividad para pantallas medianas
@media (max-width: 768px) {
  .logos img {
      max-width: 80%;
  }
}

/**
 * Oculta el input de archivo (file input) para personalizar el botón de carga.
 */
 .file-input {
  display: none;
}
