<mat-dialog-content>
  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">

    <!-- Campo Nombre -->
    <mat-form-field class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre del usuario">
      <mat-error *ngIf="createUserForm.get('name')?.invalid && createUserForm.get('name')?.touched">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Campo Email -->
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Correo electrónico" type="email">
      <mat-error *ngIf="createUserForm.get('email')?.invalid && createUserForm.get('email')?.touched">
        El email es obligatorio y debe ser válido.
      </mat-error>
    </mat-form-field>

    <!-- Campo Contraseña -->
    <mat-form-field class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" placeholder="Contraseña" type="password">
      <mat-error *ngIf="createUserForm.get('password')?.invalid && createUserForm.get('password')?.touched">
        La contraseña es obligatoria.
      </mat-error>
    </mat-form-field>

    <!-- Campo Selección de Rol -->
    <mat-form-field class="full-width">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol" panelClass="custom-select-panel" placeholder="Seleccionar Rol">
        <mat-option value="admin">Administrador</mat-option>
        <mat-option value="co">Empresa</mat-option>
        <mat-option value="visitor">Visitante</mat-option>
      </mat-select>
      <mat-error *ngIf="createUserForm.get('rol')?.invalid && createUserForm.get('rol')?.touched">
        El rol es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Campos adicionales para co -->
    @if(createUserForm.get('rol')?.value === 'co'){
      <!-- Campo nombre de la empresa -->
      <mat-form-field class="full-width">
        <mat-label>Nombre de la Empresa</mat-label>
        <input matInput formControlName="company" placeholder="Nombre de la empresa">
        @if(createUserForm.get('company')?.hasError('required')){
          <mat-error> El nombre de la empresa es obligatorio.</mat-error>
        }
      </mat-form-field>

      <!-- Campo CIF -->
      <mat-form-field class="full-width">
        <mat-label>CIF</mat-label>
        <input matInput formControlName="cif" placeholder="A12345678">
        @if(createUserForm.get('cif')?.hasError('required')){
          <mat-error> El CIF es obligatorio.</mat-error>
        }
      </mat-form-field>
    }

    <!-- Campos adicionales para visitantes -->
    @if(createUserForm.get('rol')?.value === 'visitor'){
      <!-- Campo nombre de la empresa -->
      <mat-form-field class="full-width">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" placeholder="12345667A">
        @if(createUserForm.get('dni')?.hasError('required')){
          <mat-error> El DNI es obligatorio.</mat-error>
        }
      </mat-form-field>

      <!-- Campo CIF -->
      <mat-form-field class="full-width">
        <mat-label>Estudios</mat-label>
        <input matInput formControlName="studies" placeholder="Estudios del visitante">
        @if(createUserForm.get('studies')?.hasError('studies')){
          <mat-error> Los estidios son obligatorio.</mat-error>
        }
      </mat-form-field>
    }

    <!-- Botones de acción -->
    <mat-dialog-actions class="action-buttons">
      <button mat-button type="button" (click)="onClose()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="createUserForm.invalid">Crear Usuario</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>