<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Empresa">
        <form [formGroup]="companyRegister" (ngSubmit)="registerCompany()">
            <mat-form-field appearance="fill" class="w-100 mb-3 mt-3">
                <mat-label>Nombre de la empresa</mat-label>
                <input matInput placeHolder="Nombre de la Empresa" formControlName="name">
                @if(companyRegister.get('name')?.invalid && companyRegister.get('name')?.touched){
                <mat-error>El nombre de la empresa es requerido.</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mb-3 mt-3">
                <mat-label>Email de la empresa</mat-label>
                <input matInput placeHolder="example@empresa.com" formControlName="email">
                @if(companyRegister.get('email')?.invalid && companyRegister.get('email')?.touched){
                <mat-error>El email de la empresa es requerido.</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mb-3">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                    placeholder="Contraseña">
                <!-- Botón para alternar la visibilidad de la contraseña -->
                <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                    <i class="fa-solid" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
                </button>
                @if(companyRegister.get('password')?.invalid && companyRegister.get('password')?.touched){
                <mat-error>La contraseña es obligatoria y debe tener al menos 6 caracteres.</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mb-3 mt-3">
                <mat-label>CIF de la empresa</mat-label>
                <input matInput placeHolder="B123456789" formControlName="cif">
                @if(companyRegister.get('cif')?.invalid && companyRegister.get('cif')?.touched){
                <mat-error>El CIF de la empresa es requerido.</mat-error>
                }
            </mat-form-field>
            <!-- Botón para añadir el logo -->
            <div class="action-button ml-auto d-flex">
                <button type="button" class="button button--primary" (click)="logoInput.click()"
                    mat-flat-button>
                    <i class="fa-solid fa-upload"></i>
                </button>
                <!-- Input de archivo oculto para subir el logo -->
                <input type="file" #logoInput (change)="onFileChange($event, 'logo')" class="file-input" />
                <div *ngIf="logoUrl">
                    <p>Archivo seleccionado: {{ logoFileName }}</p>
                </div>
            </div>
            <div class="mt-3">
                <button class="button button--primary mx-2" type="submit" [disabled]="!companyRegister.valid" mat-flat-button> Registrar</button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Visitante">
        <form [formGroup]="companyRegister" (ngSubmit)="registerCompany()">
            <mat-form-field appearance="fill" class="w-100 mb-3 mt-3">
                <mat-label>Nombre de la empresa</mat-label>
                <input matInput placeHolder="Nombre de la Empresa" formControlName="name">
                @if(companyRegister.get('name')?.invalid && companyRegister.get('name')?.touched){
                <mat-error>El nombre de la empresa es requerido.</mat-error>
                }
            </mat-form-field>
        </form>
    </mat-tab>
</mat-tab-group>

    <!-- Botones de acción -->
    <mat-dialog-actions class="action-buttons">

      <button class="button button--primary" mat-flat-button color="primary" type="submit"
        [disabled]="companyRegister.invalid">Crear Usuario</button>
      <button class="button button--secondary" mat-flat-button type="button" (click)="onClose()">Cancelar</button>
    </mat-dialog-actions>
</mat-dialog-content>