<!-- Barra superior -->
<mat-toolbar class="navbar-custom" style="display: flex; justify-content: space-between;">

  <!-- Logo -->
  @if(!isLoggedIn()){
  <div>
    <a class="navbar-brand" routerLink="/login">
      <img src="../assets/logo.png" alt="Logo" style="width: 100px; height: auto;">
    </a>
  </div>
  }@else if(isRol() === 'admin'){
  <div>
    <a class="navbar-brand" routerLink="/admin-dashboard">
      <img src="../assets/logo.png" alt="Logo" style="width: 100px; height: auto;">
    </a>
  </div>
  }@else if (isRol() === 'co') {
  <div>
    <a class="navbar-brand" routerLink="/company-dashboard">
      <img src="../assets/logo.png" alt="Logo" style="width: 100px; height: auto;">
    </a>
  </div>
  }

  @if(isLoggedIn() && !isSmallScreen){
  <mat-nav-list>
    @if(isRol() === 'admin'){
    <button class="btn-icon-text" (click)="createUser()">
      <i class="fa-solid fa-plus"></i><span>Crear Usuario</span>
    </button>
    }
    <button class="btn-icon-text" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket fa-flip-vertical"></i><span>Cerrar Sesión</span>
    </button>
  </mat-nav-list>
  }
  <!-- Botón de menú para pantallas pequeñas -->
  @if(isSmallScreen && isLoggedIn()){
  <button (click)="drawer.toggle()" class="menu-btn" *ngIf="isSmallScreen">
    <i class="fa-solid fa-bars"></i>
  </button>
  }

</mat-toolbar>

<mat-sidenav-container>
  <!-- Barra Lateral -->
  @if(isLoggedIn()){
  <mat-sidenav #drawer [mode]="sidenavMode" [opened]="!isSmallScreen" clasS="sidenav" id="navbarNav">
    <mat-nav-list class="nav-list">
      @if(isRol()==='co'){
      <mat-list-item class="mt-2"><a class="nav-link active" routerLink="/home"><i class="fa-solid fa-house"
            style="color: #002e4c;"></i><span>Home</span></a></mat-list-item>
            
      <mat-list-item> <a class="nav-link active" routerLink="/profile" style="color: #002e4c;"> <i
            class="fa-solid fa-user" style="color: #002e4c;"></i><span>Perfil</span></a></mat-list-item>

      <mat-list-item class="mt-2"><a class="nav-link active" routerLink="/offers"><i class="fa-solid fa-briefcase"
            style="color: #002e4c;"></i><span>Ofertas</span></a></mat-list-item>

      @if(isSmallScreen){
      <mat-divider></mat-divider>
      <mat-list-item>
        @if(isRol() === 'admin'){
        <a class="nav-link link" (click)="createUser()">
          <i class="fa-solid fa-plus"></i><span>Crear Usuario</span>
        </a>
        }
      </mat-list-item>
      <mat-list-item>
        <a class="nav-link link" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket fa-flip-vertical"></i><span>Salir</span>
        </a>
      </mat-list-item>
      }
      }
    </mat-nav-list>
  </mat-sidenav>
  }

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <div class="app-background">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Footer -->
<footer class="footer text-white py-3">
  <div class="text-center">
    <p>&copy; 2024 - Medac. Todos los derechos reservados.</p>
  </div>
</footer>