/* Asegúrate de que el estilo se aplique a todo el cuerpo de la aplicación */
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif !important;
}

/* Si usas Bootstrap u otro framework, sobrescribe las variables globales de fuente si es necesario */
:root {
  --bs-body-font-family: 'Noto Sans', sans-serif;
}

/* Utiliza ::ng-deep para asegurar que el estilo se aplique incluso en componentes con encapsulación */
::ng-deep * {
  font-family: 'Noto Sans', sans-serif;
}

.app-background {
  background-image: url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #002e4c;
  color: white;
  text-align: center;
  height: 64px;
}

.footer p {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
}

/* Barra lateral fija */
mat-sidenav {
  position: fixed;
  top: 64px; /* Justo debajo de la barra superior */
  left: 0;
  width: 100px; /* Ancho de la barra lateral */
  height: calc(100vh - 64px); /* Altura completa de la ventana menos la barra superior */
  overflow-y: auto; /* Permite scroll si el contenido de la barra lateral es largo */
  z-index: 1000;
  background-color:white;/* Fondo de la barra lateral */
}

.navbar-custom{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Ajustar el espacio entre los items de la lista */
mat-list-item {
  justify-content: center; /* Asegura que el contenido esté centrado */
}

/* Aumenta el tamaño y espacio de los enlaces */
.nav-link {
  display: flex;
  flex-direction: column; /* Coloca el texto debajo del ícono */
  align-items: center; /* Centra el ícono y el texto */
  justify-content: center; /* Alinea el ícono y texto verticalmente */
  text-align: center; /* Centra el texto */
  font-size: 14px; /* Ajusta el tamaño del texto */
  color: #002e4c; /* Color del texto */
  width: 100%; /* Asegura que ocupe todo el ancho del mat-list-item */
}

/* Aumentar el tamaño y espacio del ícono */
.nav-link i {
  font-size: 24px; /* Tamaño del ícono */
  margin-bottom: 0; /* Espacio entre el ícono y el texto */
}

/* Aumentar el espacio entre los mat-list-items */
.mat-nav-list {
  padding: 10px 0; /* Añade espacio adicional entre los items */
}


.mat-sidenav-container {
  margin-top: 64px; /* Altura de la barra superior */
}

/* Estilos para los botones */
.btn-icon-text {
  background: none;
  border: none;
  color:  #002e4c;
  display: flex;
  flex-direction: column;
  /* Coloca el texto debajo del icono */
  align-items: center;
  padding: 0;
  margin-left: 15px;
  font-size: 12px;
  /* Tamaño de texto más pequeño */
}

.btn-icon-text i {
  font-size: 20px;
  /* Tamaño del icono */
  margin-bottom: 2px;
  /* Espacio entre icono y texto */
}

.btn-icon-text span {
  font-size: 10px;
  /* Texto debajo del icono más pequeño */
}

.btn-icon-text:hover {
  color: #00a89c;
  /* Cambiar color al pasar el ratón */
}


/* Responsivo: reducir tamaño en pantallas pequeñas */
@media (max-width: 768px) {
  .menu-btn {
    display: inline;
  }

  .btn-icon-text {
    font-size: 10px;
    /* Texto aún más pequeño en pantallas pequeñas */
  }

  .btn-icon-text i {
    font-size: 18px;
    /* Icono más pequeño en pantallas pequeñas */
  }

  .btn-icon-text span {
    font-size: 8px;
    /* Texto debajo del icono más pequeño */
  }
}


