body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Cambiar el color del ícono del botón de colapso a blanco */
.navbar-toggler {
  border-color: white; /* Borde del botón de colapso en blanco */
}

/* Cambiar las líneas de la hamburguesa a blanco */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.app-background {
  background-image: url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-custom {
  background-color: #002e4c;
}

.navbar-nav {
  margin-left: auto;  /* Asegura que los botones estén alineados a la derecha */
}

.btn-icon-text {
  background: none;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  margin-right: 20px;
}

.btn-icon-text i {
  font-size: 20px;
  margin-bottom: 4px;
}

.btn-icon-text span {
  font-size: 12px;
}

.btn-icon-text:hover {
  color: #00a89c;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
  .btn-icon-text {
    margin-right: 0;
    font-size: 3px;
  }
  .btn-icon-text span {
    margin-right: 0;
    font-size: 3px;
  }
}
