@import "../scss/var";

/* Asegúrate de que el estilo se aplique a todo el cuerpo de la aplicación */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif !important;
}

/* Sobrescribe las variables globales de fuente si es necesario */
:root {
  --bs-body-font-family: "Noto Sans", sans-serif;
}

/* Asegura que el estilo se aplique incluso en componentes con encapsulación */
::ng-deep * {
  font-family: "Noto Sans", sans-serif;
}

.app-background {
  background-color: $background-color;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #002e4c;
  color: white;
  text-align: center;
  height: 64px;

  p {
    margin: 0;
  }
}

.acction-button {
  display: flex; /* Cambia la disposición de los hijos en una fila */
  flex-direction: row; /* Asegura que estén en una fila */
  gap: 10px; /* Espacio entre los botones */
  justify-content: flex-end; /* Alinea los botones al final si es necesario */
  align-items: center; /* Centra verticalmente los botones */
}

.button-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea todo al final si es necesario */
  gap: 20px; /* Espacio entre los elementos del nav */
}

.container {
  height: 100vh;
  width: 100%;
}

mat-nav-list {
  margin-top: 15px;
}

/* Barra lateral fija */
mat-sidenav {
  position: fixed;
  top: 64px; /* Justo debajo de la barra superior */
  left: 0;
  width: 100px; /* Ancho de la barra lateral */
  height: calc(
    100vh - 64px
  ); /* Altura completa de la ventana menos la barra superior */
  overflow-y: auto; /* Permite scroll si el contenido de la barra lateral es largo */
  z-index: 1000;
  background-color: white; /* Fondo de la barra lateral */
}

.navbar-custom {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

/* Ajustar el espacio entre los items de la lista */
mat-list-item {
  justify-content: center; /* Asegura que el contenido esté centrado */
}

/* Aumenta el tamaño y espacio de los enlaces */
.nav-link {
  display: flex;
  flex-direction: column; /* Coloca el texto debajo del ícono */
  align-items: center; /* Centra el ícono y el texto */
  justify-content: center; /* Alinea el ícono y texto verticalmente */
  text-align: center; /* Centra el texto */
  font-size: 14px; /* Ajusta el tamaño del texto */
  color: #002e4c; /* Color del texto */
  width: 100%; /* Asegura que ocupe todo el ancho del mat-list-item */

  i {
    font-size: 24px; /* Tamaño del ícono */
    margin-bottom: 0; /* Espacio entre el ícono y el texto */
  }
}

.mat-sidenav-container {
  margin-top: 0;
  padding-top: 64px; /* Altura de la barra superior */
}

/* Estilos para los botones */
.btn-icon-text {
  background: none;
  border: none;
  color: #002e4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-left: 15px;
  font-size: 12px; /* Tamaño de texto más pequeño */

  i {
    font-size: 20px; /* Tamaño del ícono */
    margin-bottom: 2px; /* Espacio entre ícono y texto */
  }

  span {
    font-size: 10px; /* Texto debajo del ícono más pequeño */
  }

  &:hover {
    color: #00a89c; /* Cambiar color al pasar el ratón */
  }
}

.menu-btn {
  display: none;

  &:hover {
    i {
      color: #00a89c; /* Cambia el color del ícono al pasar el ratón */
    }
  }
}

/* Estilo del enlace de cierre de sesión */
.logout-link {
  color: #d32f2f; /* Rojo para indicar que es una acción de cierre */
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;

  i {
    font-size: 20px;
    margin-right: 8px; /* Espacio entre el ícono y el texto */
  }
}

/* Responsivo: reducir tamaño en pantallas pequeñas */
@media (max-width: 768px) {
  .menu-btn {
    display: inline;
    margin-right: 5px;
  }

  .logout-link {
    margin-top: 16px; /* Espacio en la parte superior */
    color: #d32f2f;
  }

  .mat-sidenav {
    height: 100vh;
    top: 55px;
    z-index: 1300; /* Asegura que esté por encima del contenido */
  }

  .navbar-custom {
    padding: 0;
    margin: 0;
  }

  .footer {
    z-index: 1400;
  }

  .mat-sidenav-container {
    margin: 0;
    padding: 0;
  }
}
