body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
.app-background {
  background-image: url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilos para la barra de navegación */
.navbar-custom {
  background-color: #002e4c;
  padding: 10px 20px;
}

.navbar-brand {
  margin-right: 20px;
}

.nav-link, .dropdown-item {
  color: white !important;
  font-size: 16px;
  padding: 10px;
}

.dropdown-menu {
  background-color: #002e4c; /* Fondo del menú desplegable */
}

.dropdown-item:hover {
  background-color: #00a89c;
  color: white !important;
}

/* Ajustes del botón de colapso */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: white; /* Color blanco para el icono del menú */
}

/* Estilos para los botones */
.btn-icon-text {
  background: none;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;  /* Coloca el texto debajo del icono */
  align-items: center;
  padding: 0;
  margin-left: 15px;
  font-size: 12px; /* Tamaño de texto más pequeño */
}

.btn-icon-text i {
  font-size: 20px; /* Tamaño del icono */
  margin-bottom: 5px; /* Espacio entre icono y texto */
}

.btn-icon-text span {
  font-size: 10px; /* Texto debajo del icono más pequeño */
}

.btn-icon-text:hover {
  color: #00a89c; /* Cambiar color al pasar el ratón */
}

/* Responsivo: reducir tamaño en pantallas pequeñas */
@media (max-width: 768px) {
  .nav-link, .dropdown-item {
    font-size: 14px;
  }

  .btn-icon-text {
    font-size: 10px; /* Texto aún más pequeño en pantallas pequeñas */
  }

  .btn-icon-text i {
    font-size: 18px; /* Icono más pequeño en pantallas pequeñas */
  }

  .btn-icon-text span {
    font-size: 8px; /* Texto debajo del icono más pequeño */
  }
}
