<div class="fair-hall-container">
  <div class="header-hall">
    <div class="company-cards-conatiner">
      <app-company-cards></app-company-cards>
    </div>
  </div>
  <div class="offers-filter d-flex align-items-center">
    <div class="row w-100">
      <h1>BUSCAR OFERTAS</h1>

      <div class="action-button">
        <button class="button button--primary mx-2">
          <i class="fa-solid fa-rotate-right px-3"></i>Reiniciar Filtros
        </button>
        <button class="button button--primary mx-2">
          <i class="fa-solid fa-filter px-3"></i>Aplicar filtros
        </button>
      </div>
    </div>
  </div>
</div>
