/* Sección principal del componente */
.role-section {
    border-color: #002E4C;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 2px;
    min-height: 100vh;
    margin-bottom: 0;
    overflow: hidden; /* Evitar que el contenido se desborde de los bordes redondeados */
  }
  
  /* Estilo del encabezado con gradiente */
  .header-gradient {
    background-color: #002E4C;
    color: white;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden; /* Recorta cualquier contenido que se salga de los bordes */
    border: none;
  }
  
  /* Estilo de las tarjetas de usuario */
  .user-card {
    background-color: white;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 0;
  }
  
  /* Efecto de elevación en hover para las tarjetas */
  .user-card:hover {
    transform: translateY(-5px);
  }
  
  /* Margen entre los botones */
  .mat-stroked-button {
    margin-left: 10px;
  }
  
  /* Margen superior del contenedor */
  .container-fluid {
    margin-top: 20px;
  }
  
  /* Espaciado entre tarjetas en la vista en fila */
  .row {
    gap: 0px;
  }
  
  /* Personalización de botones de Angular Material */
  .mat-button,
  .mat-stroked-button {
    text-transform: none; /* Desactivar texto en mayúsculas */
  }
  