<mat-card class="stand-form">
  <form [formGroup]="formBanner" (ngSubmit)="onSubmit()">

    <mat-card-header  (click)="toggleContentVisibility()">
      <mat-card-title>
        <h2>Sube tu logo y banner</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="isContentVisible">
      <!-- Subida de Logo -->
      <mat-card class="mt-2">
        <mat-card-header class="card-header">
          <mat-card-title>Logo</mat-card-title>
          <div class="action-button ml-auto d-flex">
            <button type="button" class="custom-button" (click)="logoInput.click()">Añadir Logo</button>
            <input type="file" #logoInput (change)="onFileChange($event, 'logo')" class="file-input" />
          </div>
        </mat-card-header>
      </mat-card>

      <!-- Subida de Banner -->
      <mat-card class="mt-2">
        <mat-card-header class="card-header">
          <mat-card-title>Banner</mat-card-title>
          <div class="action-button ml-auto d-flex">
            <input type="file" #bannerInput (change)="onFileChange($event, 'banner')" class="file-input"
              [disabled]="!canUploadFiles" />
            <button type="button" class="custom-button" (click)="bannerInput.click()"
              [disabled]="!canUploadFiles">Añadir
              Banner</button>
          </div>
        </mat-card-header>
      </mat-card>

      <!-- Subida de Póster -->
      <mat-card class="mt-2">
        <mat-card-header class="card-header">
          <mat-card-title>Poster</mat-card-title>
          <div class="action-button ml-auto d-flex">
            <input type="file" #posterInput (change)="onFileChange($event, 'poster')" class="file-input"
              [disabled]="!canUploadFiles" />
            <button type="button" class="custom-button" (click)="posterInput.click()"
              [disabled]="!canUploadFiles">Añadir
              Póster</button>
          </div>
        </mat-card-header>
      </mat-card>
      <!-- Botón de Enviar -->
      <div class="action-button ml-auto d-flex">
        <button mat-raised-button color="primary" type="submit" class="custom-button mt-2">Enviar</button>
      </div>
    </mat-card-content>


    <!-- Vista previa y ajuste del logo -->
    <div class="image-container" *ngIf="logoUrl">
      <h4>Ajuste del Logo</h4>
      <div class="image-viewport">
        <img [src]="logoUrl" alt="Logo Preview" class="resizable-image" [style.transform]="logoTransform"
          (wheel)="onZoom($event)" (mousedown)="startDragging($event)" />
      </div>
    </div>

    <!-- Vista previa del banner -->
    <div *ngIf="bannerUrl" class="preview-tab">
      <h4>Vista previa del Banner</h4>
      <img [src]="bannerUrl" alt="Banner Preview" class="preview-img" />
    </div>

    <!-- Vista previa del póster -->
    <div *ngIf="posterUrl" class="preview-tab">
      <h4>Vista previa del Póster</h4>
      <img [src]="posterUrl" alt="Poster Preview" class="preview-img" />
    </div>


  </form>
</mat-card>