.countdown-container {

      
    .countdown {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;
  
      .time-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
  
        .time {
          font-size: 2.5rem;
          font-weight: bold;
        }
  
        .label {
          font-size: 0.875rem;
          margin-top: 4px;
        }
      }
  
      .time-box:not(:last-child) {
        border-right: 1px solid #fff;
      }
    }
  
  }
  