<!--
  Componente Banner Component - Formulario para cargar el logo, banner y póster.
  - Contiene un encabezado con un título.
  - Cada sección incluye un botón para cargar archivos específicos.
  - Los archivos permitidos deben ser en formato PNG y de un tamaño máximo de 5 MB.
-->

<mat-card class="stand-form">
  <!-- Formulario de subida con validación de Angular -->
  <form [formGroup]="formBanner" (ngSubmit)="onSubmit()">

    <!-- Cabecera principal del formulario -->
    <mat-card-header (click)="toggleContentVisibility()">
      <mat-card-title>
        <h2>Sube tu logo y banner</h2>
      </mat-card-title>
    </mat-card-header>

    <!-- Contenido desplegable del formulario -->
    <mat-card-content *ngIf="isContentVisible">
      <!-- Subida de Banner -->
      <mat-card class="mt-2">
        <mat-card-header class="card-header">
          <mat-card-title>Banner</mat-card-title>
          <!-- Verifica si no hay un archivo de banner seleccionado -->
          @if(!bannerFileName){
          <!-- Botón para añadir el banner -->
          <div class="action-button ml-auto d-flex">
            <button type="button" class="button button--primary" (click)="bannerInput.click()"
              [disabled]="!canUploadFiles" mat-flat-button>
              <i class="fa-solid fa-upload"></i>
            </button>
            <!-- Input de archivo oculto para subir el banner -->
            <input type="file" #bannerInput (change)="onFileChange($event, 'banner')" class="file-input" />
          </div>
          }@else{
          <!-- Opciones de editar o eliminar el banner ya seleccionado -->
          <div class="action-button ml-auto d-flex">
            <button mat-flat-button class="button button--primary delete-button" color="warn" mat-flat-button>
              <i class="fa-solid fa-trash"></i>
            </button>
            <button mat-flat-button class="button button--primary" (click)="bannerInput.click()" mat-flat-button>
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <input type="file" #bannerInput (change)="onFileChange($event, 'banner')" class="file-input" />
          </div>
          }
          <!-- Información del archivo seleccionado -->
        </mat-card-header>

        <!-- Información del archivo seleccionado -->
        @if (bannerFileName) {
        <mat-divider style="width: 100%;"></mat-divider>
        <mat-card-content class="mt-2">
          <div mat-card-avatar class="custom-avatar" [ngStyle]="{
              'background-image': 'url(' + bannerUrl + ')',
            }">
          </div>
          <div class="file-info">
            <mat-card-title>
              <i class="fa-regular fa-image"></i>
            </mat-card-title>
            <span class="file-name">{{ bannerFileName }}</span>
          </div>
        </mat-card-content>
        }
      </mat-card>

      <!-- Subida de Póster -->
      <mat-card class="mt-2">
        <mat-card-header class="card-header">
          <mat-card-title>Poster</mat-card-title>
          <!-- Verifica si no hay un archivo de banner seleccionado -->
          @if(!posterFileName){
          <!-- Botón para añadir el banner -->
          <div class="action-button ml-auto d-flex">
            <button type="button" class="button button--primary" (click)="posterInput.click()"
              [disabled]="!canUploadFiles" mat-flat-button>
              <i class="fa-solid fa-upload"></i>
            </button>
            <!-- Input de archivo oculto para subir el banner -->
            <input type="file" #posterInput (change)="onFileChange($event, 'poster')" class="file-input" />
          </div>
          }@else{
          <!-- Opciones de editar o eliminar el banner ya seleccionado -->
          <div class="action-button ml-auto d-flex">
            <button mat-flat-button class="button button--primary delete-button" color="warn" mat-flat-button>
              <i class="fa-solid fa-trash"></i>
            </button>
            <button mat-flat-button class="button button--primary" (click)="posterInput.click()" mat-flat-button>
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <input type="file" #posterInput (change)="onFileChange($event, 'poster')" class="file-input" />
          </div>
          }
        </mat-card-header>

        <!-- Información del archivo seleccionado -->
        @if (posterFileName) {
          <mat-divider style="width: 100%;"></mat-divider>
          <mat-card-content class="mt-2">
            <div mat-card-avatar class="custom-avatar" [ngStyle]="{
                'background-image': 'url(' + posterUrl + ')',
              }">
            </div>
            <div class="file-info">
              <mat-card-title>
                <i class="fa-regular fa-image"></i>
              </mat-card-title>
              <span class="file-name">{{ posterFileName }}</span>
            </div>
          </mat-card-content>
          }
      </mat-card>
    </mat-card-content>
  </form>
</mat-card>